<h2><%= @task.title %></h2>
<div id="task_display">
  <p><%= @task.details %></p>
  <div id="edit">
  <%= link_to "Edit this task", edit_task_path %>
  </div>
</div>
<%= link_to "Back to list", tasks_path %>
